<div class="window-container">

  <div class="window">
    <div class="bar container-fluid">
        <div class="row">
          <div class="col"></div>
          <div class="col-2 button-col">
            <img src="/assets/images/icons/minimize-btn.png" alt="minimize button">


            <img src="/assets/images/icons/maximize-btn.png" alt="maximize button">


            <img src="/assets/images/icons/close-btn.png" alt="close button">

        </div>
      </div>
    </div>
    <app-console [consoleId]="this.consoleId" [isHeader]="this.isHeader" [code]="this.code" [cursorPosition]="this.cursorPosition">

    </app-console>
  </div>
</div>

