@import "~src/styles/settings/_variables.scss";
@import "~bootstrap/dist/css/bootstrap.css";
.console{
    background-color: var(--primary);
    color: var(--white);
    margin: 0;
    padding-bottom: 1em;
    padding-top: 1em;

    font-family: monospace;
}
