@import "../../../../styles/settings/variables";

.main-container{
  background-color: #F4F8FF;
  width: 100%;
  margin: 0;
}

.inner-container{
  background-color: white;
  height: 100%;
  padding: 3.5em;
}

h2{
  color: var(--secondary-red);
  font-family: 'nunito';
  font-weight: bold;
  font-size: 1.3em;
}

h5{
  padding-top: 2em;
  color: white;
  font-weight: normal;

}

.portrait{
  height: 20em;
  width:15em;
  background-color: rgb(211, 211, 211);
  margin-bottom: 8em;
  position: relative;
  top: -8em;

}
.portrait-col{
  display: flex;
  direction: ltr;
  margin-left: 20%;
}

.skills-container{
  height: 4em;
  margin: 0;
  padding: 0;
  border: 0;
  //border-radius: 3em 3em 0em 0em;
  // position: relative;
  min-height: 25em;
  background: linear-gradient(to bottom, rgba(5, 28, 64, 1) 0%, #193765 80%);
}

.col-sm-4 {
  margin: 0;
  padding-left: 0!important;
  padding-right: 0!important;


}
.col-s-12 {
  margin: 0;
  padding-left: 0!important;
  padding-right: 0!important;

}
.col-6{
  margin: 0;
  padding-left: 0!important;
  padding-right: 0!important;

}
