@import "../../../../styles/settings/variables";

.main-container{
  background-color: #F4F8FF;
  width: 100%;
  margin: 0;
}

.inner-container{
  background-color: white;
  height: 100%;
  padding: 0;
  padding-right: 0;
}
.presentation-container{
  margin-top: 3em;
  margin-left: 5em;
  margin-bottom: 5em;
}
h2{
  color: var(--secondary-red);
  font-family: 'nunito';
  font-weight: bold;
  font-size: 1.3em;
}

h5{
  padding-top: 2em;
  color: white;
  font-weight: bold;

}

.portrait{
  height: 100%;
  width:100%;
  background-color: rgb(153, 191, 210);
  position: relative;


}
.portrait-col{
  display: flex;
  direction: ltr;
}

.skills-container{
  margin: 0;
  padding: 0;
  padding-top: 2em;
  border: 0;

  // position: relative;
  min-height: 25em;
  background: linear-gradient(to bottom, #051C40 20%, #183765 100%);
}
.contact-form-container{
  min-height: 4em;
  background-color: #041329;
}
.contact-form{
  min-height: 8em;
  margin-top: 1.5em;
  margin-bottom: 3em;
  border-radius: 5px;
}

.col-sm-4 {
  margin: 0;
  padding-left: 0!important;
  padding-right: 0!important;


}
.col-s-12 {
  margin: 0;
  padding-left: 0!important;
  padding-right: 0!important;

}
.col-6{
  //margin: 0;
  padding-left: 0!important;
  padding-right: 0!important;

}

