<div class="d-flex h-100 flex-column">
<app-header></app-header>

<!-- <app-presentation-container></app-presentation-container> -->
<div class="main-container container-fluid">

  <div class="inner-container container">
    <div class="row">
      <div class="col-6 presentation-container">
        <div class="row">
          <div class="col">
            <app-console-window [consoleId]="'consoleHeader'" [isHeader]="true" [code]="this.header" [cursorPosition]="[2,0]"></app-console-window>

          </div>

        </div>
        <div class="row">
          <div class="col-8">
            <p class="mb-4">
              {{'about-me.presentation-content' | translate}}
            </p>
            <app-button (click)="scrollToForm()" onclick="scrollToForm()" [label]="'Contact Me!'" [color]="BUTTON_COLOR.PRIMARY"></app-button>
          </div>

          <div class="col">

          </div>

        </div>
      </div>
      <div class="col">
        <div class="portrait">

        </div>
      </div>
    </div>



  </div>
</div>
<div class="skills-container container-fluid">
<div class="container">
  <div class="row">
    <div class="col-6">
      <h5>{{'about-me.habilities' | translate}}</h5>
      <app-star-list [columns]="skillsList">

      </app-star-list>
    </div>
    <div class="col">

    </div>
    <div class="col-5">
      <h5>{{'about-me.plan' | translate}}</h5>
      <app-star-list [columns]="toDoList">

      </app-star-list>
    </div>
  </div>

</div>
</div>

<app-wave-separator></app-wave-separator>
<app-work-list></app-work-list>
<div class="container-fluid contact-form-container" id="contact-form">
  <div class="container">
    <div class="row">

      <div class="col-6">
        <h5>{{'about-me.contact-me' | translate}}</h5>
        <div class="contact-form">
            <input type="email" name="from" placeholder="From:">


            <input type="email" disabled="true" name="to" value="adrian.alexandre.aac@gmail.com">
            <input type="text" name="about" placeholder="About:">
            <textarea name="message" placeholder="Message area..."></textarea>
            <app-button (click)="scrollToForm()" onclick="scrollToForm()" [label]="'Contact Me!'" [color]="BUTTON_COLOR.GREEN"></app-button>
          </div>
      </div>
    </div>
  </div>


</div>
</div>
<app-footer></app-footer>

