div{
  margin: 0;
  margin-left: 0;
}
.col-sm-4 {
  margin: 0;
  margin-left: 0!important;

}
.col-s-12 {
  margin: 0;
  margin-left: 0!important;

}
.col-6{
  margin: 0;
  margin-left: 0!important;

}
