@import "~src/styles/settings/_variables.scss";
@import "~bootstrap/dist/css/bootstrap.css";
.console{
    background-color: var(--primary);
    color: var(--white);
    margin: 0;
    padding-bottom: 1em;
    padding-top: 1em;

    font-family: RobotoMono;
    font-size: 1em;
}

.console{
    padding-bottom: 0;
    padding-top: 0;

    background-color: var(--primary);
    border-radius: 8px;
}
.console-container{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--primary);
  border-radius: 6px;
}
.header {
  font-size: 22px;
  padding: 0;
}
.header .row{
  padding: 0;
}
.header .container{
  padding: 0;
}
.header .console-container{
  background-color: var(--primary);
}
